
.gallery {
    background-image: url("../../assets//images/wall.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &-card-wrapper {
        @media only screen and (max-width: 768px) {
            width: 95% !important;
        }
    }
}